<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2016 Samares-Engineering.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
       Jean-Marie Gauthier - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="International System of Units for MBSE"
            iconpath="icons/logo_si_small_icon.png"
            name="SI Units Library"
            path="pathmap://PAPYRUS_SI_LIBRARY/si.library.uml"
            provider="Samares-Engineering">
      </library>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://PAPYRUS_SI_LIBRARY/"
            target="platform:/plugin/org.eclipse.papyrus.activitysimulation.siunitslibrary/resources/">
      </mapping>
   </extension>

</plugin>
