<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.moka.engine">
      <engine
            class="org.eclipse.papyrus.activitysimulation.mokaconnector.engine.ExtendedExecutionEngine"
            description="Extended Execution Engine for Moka">
      </engine>
   </extension>

</plugin>
