<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
         <menu
               icon="icon/logo_samares_small_icone.png"
               id="org.eclipse.papyrus.views.modelexplorer.samares"
               label="Samares">
          	<visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Activity">
                        </instanceof>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>

</plugin>
